[submodule "thirdparty/llama.cpp"]
	path = thirdparty/llama.cpp
	url = git@github.com:bangonkali/llama.cpp-baidu-unlimited-ocr.git
	branch = uocr-deepseek-ocr-parity
[submodule "thirdparty/mupdf"]
	path = thirdparty/mupdf
	url = git@github.com:ArtifexSoftware/mupdf.git
[submodule "thirdparty/huggingface-hub-cpp"]
	path = thirdparty/huggingface-hub-cpp
	url = https://github.com/agonzc34/huggingface-hub-cpp.git
[submodule "thirdparty/mdx-js"]
	path = thirdparty/mdx-js
	url = git@github.com:mdx-js/mdx.git
