* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=lf
*.sh text eol=lf

*.bmp binary
*.jpeg binary
*.jpg binary
*.pdf filter=lfs diff=lfs merge=lfs -text
*.png binary
*.tif binary
*.tiff binary
*.webp binary
thirdparty/duckdb/windows-amd64/bin/duckdb.dll filter=lfs diff=lfs merge=lfs -text
thirdparty/duckdb/windows-amd64/lib/duckdb.lib filter=lfs diff=lfs merge=lfs -text
