[submodule "thirdparty/llama.cpp"]
	path = thirdparty/llama.cpp
	url = git@github.com:bangonkali/llama.cpp-baidu-unlimited-ocr.git
	branch = uocr-deepseek-ocr-parity
[submodule "thirdparty/mupdf"]
	path = thirdparty/mupdf
	url = git@github.com:ArtifexSoftware/mupdf.git
[submodule "thirdparty/huggingface-hub-cpp"]
	path = thirdparty/huggingface-hub-cpp
	url = https://github.com/agonzc34/huggingface-hub-cpp.git
[submodule "thirdparty/mdx-js"]
	path = thirdparty/mdx-js
	url = git@github.com:mdx-js/mdx.git
[submodule "thirdparty/pdfium"]
	path = thirdparty/pdfium
	url = https://pdfium.googlesource.com/pdfium
[submodule "thirdparty/PDFium-rs"]
	path = thirdparty/PDFium-rs
	url = git@github.com:newinnovations/PDFium-rs.git
[submodule "thirdparty/pdfium-binaries"]
	path = thirdparty/pdfium-binaries
	url = git@github.com:bblanchon/pdfium-binaries.git
[submodule "thirdparty/axum"]
	path = thirdparty/axum
	url = git@github.com:tokio-rs/axum.git
[submodule "thirdparty/utoipa"]
	path = thirdparty/utoipa
	url = git@github.com:juhaku/utoipa.git
[submodule "thirdparty/duckdb-rs"]
	path = thirdparty/duckdb-rs
	url = git@github.com:duckdb/duckdb-rs.git
[submodule "thirdparty/deadpool"]
	path = thirdparty/deadpool
	url = git@github.com:deadpool-rs/deadpool.git
[submodule "thirdparty/rig"]
	path = thirdparty/rig
	url = git@github.com:0xPlaygrounds/rig.git
[submodule "thirdparty/protobuff"]
	path = thirdparty/protobuff
	url = git@github.com:protocolbuffers/protobuf.git
[submodule "thirdparty/pdf_oxide"]
	path = thirdparty/pdf_oxide
	url = git@github.com:yfedoseev/pdf_oxide.git
[submodule "thirdparty/onnx"]
	path = thirdparty/onnx
	url = git@github.com:onnx/onnx.git
[submodule "thirdparty/infly-mllm"]
	path = thirdparty/infly-mllm
	url = git@github.com:infly-ai/INF-MLLM.git
[submodule "thirdparty/infly-infinity-parser2-flash"]
	path = thirdparty/infly-infinity-parser2-flash
	url = https://huggingface.co/infly/Infinity-Parser2-Flash
[submodule "thirdparty/tesseract"]
	path = thirdparty/tesseract
	url = git@github.com:tesseract-ocr/tesseract.git
[submodule "thirdparty/tracing"]
	path = thirdparty/tracing
	url = git@github.com:tokio-rs/tracing.git
